body{
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    min-height: 100vh;

    background-color: black;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
}
#terrain{
    position: relative;    
    width: 800px;
    height : 400px;
    border:1px solid #000;
    border-top-color:#fff;
    border-bottom-color:#fff;
}
#balle{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 400px;
}
.dab{
    border-color: rgb(0, 250, 0) !important;
}

.raquette{
    
    position: absolute;

    --hauteur: 25%; /** definir une variable **/

    top : calc( 50% - var(--hauteur)/2 ); 

    width: 10px;
    height: var(--hauteur);
    background-color: #fff;
}
#droite
{
    right: 1%;
}
#gauche
{
    left: 1%;
}
